header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  width: 100%;
  height: 4em;
  background-color: #EDEFEE;
}

nav {
  display: flex;
  gap: 1em;
  position: relative;
}

.nav-item {
  color: #040404;
  font-weight: 600;
  text-decoration: inherit;
  font-family: 'Markazi', sans-serif;
}

footer {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #EDEFEE;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;

}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex: 0.6;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

.footer-social {
  display: flex;
  flex-direction: column;
}

.footer-head {
  color: #495E57;
  font-weight: 900;
  font-family: 'Karla';
}

.footer-item {
  color: #040404;
  font-weight: 400;
  text-decoration: inherit;
  font-size: 18px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}